@using StudentEnrollmentSystem.ViewModels
@model SubjectViewModel

<h3 align="center"> Update Subject</h3>
<a asp-controller="Subject" asp-action="ViewAllSubjects" class="btn btn-info"><i class="bi bi-box-arrow-left"></i>Back to list</a>
<div id="form">
<form method="post" asp-action="UpdateSubject" asp-controller="Subject">
    <div class ="form-group col-md-12">
        <label class="form-label" asp-for="ID"></label>
        <input class="form-control" asp-for="ID" readonly disabled />
    </div>
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="Units"></label>
        <input type="number" class="form-control" asp-for="Units" />
        <span asp-validation-for="Units" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="ClassSize"></label>
        <input type="number" class="form-control" asp-for="ClassSize" />
        <span asp-validation-for="ClassSize" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label class="form-label" asp-for="FacultyID">Instructor</label>
            @Html.DropDownListFor(x => x.FacultyID, new SelectList(ViewBag.Faculty, "ID", "FullName"), "Select Value", new {@class = "form-control show-tick", @data_live_search = "true"})
        <span asp-validation-for="FacultyID" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label class="form-label" asp-for="CourseID">Course</label>
            @Html.DropDownListFor(x => x.CourseID, new SelectList(ViewBag.Courses, "ID", "Name"), "Select Value", new {@class = "form-control show-tick", @data_live_search = "true"})
        <span asp-validation-for="CourseID" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label class="form-label" asp-for="SectionID">Schedule</label>
            @Html.DropDownListFor(x => x.SectionID, new SelectList(ViewBag.Sections, "ID", "FullSchedule"), "Select Value", new {@class = "form-control show-tick", @data_live_search = "true"})
        <span asp-validation-for="SectionID" class="text-danger"></span>
    </div>
    <br />

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm"><i class="bi bi-pencil-square"></i> Update</button>


        <div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmLabel">Confirm Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change this entry?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Yes, update</button>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>
