@using StudentEnrollmentSystem.ViewModels
@model ChangePasswordViewModel

<h3 align="center">Change Password</h3>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Success"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}

<div id="form">
    <form asp-controller="Home" asp-action="ChangePassword" method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" asp-for="Password">New Password</label>
            <input type="password" class="form-control" asp-for="Password" />
        </div>

        <div class="form-group col-md-12">
            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
        </div>
        <br />
        <button class="btn btn-primary" type="submit"><i class="bi bi-pencil-square"></i> Change Password</button>
    </form>
</div>
