@using StudentEnrollmentSystem.ViewModels
@model DropSubjectViewModel

<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" data-bs-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Confirm Drop</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to drop this subject?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-controller="Enrollment" asp-action="ViewSchedule" class="card-link">Close</a>
                <form asp-controller="Enrollment" asp-action="DropSubject" method="post">
                    <input asp-for ="StudentID" type="hidden" value="@Model.StudentID" />
                    <input asp-for="SubjectID" type="hidden" value="@Model.SubjectID" />
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Drop</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = () => {
        $('#delete').modal('show');
    }
</script>


