@using StudentEnrollmentSystem.ViewModels
@model RegisterViewModel

<h3 align = "center">Create New Student User</h3>
<a asp-controller="Account" asp-action="ViewAllStudents" class="card-link">Back to list</a>
<div id="form">
<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="form-group col-md-12">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName" />
    </div>
    <div class="form-group col-md-12">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName" />
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Email">Email Address (will serve as your username)</label>
        <input class="form-control" asp-for="Email" />
    </div>
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="CourseID">Course</label>
            @Html.DropDownListFor(x => x.CourseID, new SelectList(ViewBag.Courses, "ID", "Name"), "Select Value", new {@class = "form-select"})
        <span asp-validation-for="CourseID" class="text-danger"></span>
    </div>

    <br />
        <button class="btn btn-primary" type="submit"><i class="bi bi-plus-circle"></i> Register</button>
</form>
</div>
