@using StudentEnrollmentSystem.ViewModels
@model UpdateUserViewModel


<h3 align="center">Update Student Details</h3>
<a asp-controller="Account" asp-action="ViewAllStudents" class="card-link">Back to list</a>
<div id="form">
    <form asp-controller="Account" asp-action="UpdateStudent" method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Id">ID</label>
            <input class="form-control" asp-for="Id" readonly disabled />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="FirstName">First Name</label>
            <input class="form-control" asp-for="FirstName" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="LastName">Last Name</label>
            <input class="form-control" asp-for="LastName" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="OldEmail">Old Email Address</label>
            <input class="form-control" asp-for="OldEmail" readonly disabled />
        </div>
        <input class="form-control" type ="hidden" asp-for="OldEmail" readonly />
        <div class="form-group col-md-12">
            <label asp-for="NewEmail">New Email Address</label>
            <input class="form-control" asp-for="NewEmail" />
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" asp-for="CourseID">Course</label>
            @Html.DropDownListFor(x => x.CourseID, new SelectList(ViewBag.Courses, "ID", "Name"), "Select Value", new {@class = "form-select"})
            <span asp-validation-for="CourseID" class="text-danger"></span>
        </div>

        <br />
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm"><i class="bi bi-pencil-square"></i> Update</button>
        

        <div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmLabel">Confirm Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change this entry?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Yes, update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

