@model Department

<h3 align="center"> Create Department</h3>

<form method="post" asp-action="AddDepartment" asp-controller="Department">

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
