@model Faculty

<h3 align="center"> Create Faculty</h3>
<a asp-controller="Faculty" asp-action="ViewAllFaculty" class="btn btn-info"><i class="bi bi-box-arrow-left"></i>Back to list</a>
<div id="form">
<form method="post" asp-action="AddFaculty" asp-controller="Faculty">

    <div class="form-group col-md-12">
        <label class="form-label" asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label class="form-label" asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="Email">Email Address</label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="DeptID">Department</label>
            @Html.DropDownListFor(x => x.DeptID, new SelectList(ViewBag.Departments, "ID", "Name"), "Select Value", new {@class = "form-control show-tick", @data_live_search = "true"})
        <span asp-validation-for="DeptID" class="text-danger"></span>
    </div>
    <br />
        <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Submit</button>
</form>
</div>

